<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--link rel="stylesheet" type="text/css" href="../components/css/login.css"/-->


    <style type="text/css">

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-expand-sm bg-dark navbar-dark ">
    <a class="navbar-brand" href="#">Threed</a>
    <a class="navbar-brand" href="./store">Threed</a>
</nav>





</body>
</html>